{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- The sidebar -->
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <p>Hannah</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/currentlyreading">Currently Reading</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wanttoread">Want To Read</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/read">Read</a>
                </li>
            </ul>
        </div>

    <!-- The content -->
    <main class="container">
        <div class="content">
            <h3>Hello, {{ name }}</h3>
                {% for book in books %}
                    <div class="card">
                        <img class="cover" src="{{ book['cover'] }}" alt="Example cover">
                        <p class="table-data"><strong>Title:</strong> {{ book['title'] }}</p>
                        <p class="table-data"><strong>Author:</strong> {{ book['authors'] }}</p>
                        <p class="table-data"><strong>ISBN:</strong> {{ book['isbn'] }}</p>
                        <button type="submit" class="btn btn-details" name="details" value="{{ book['isbn'] }}">Details</button>
                    </div>
                {% endfor %}

        </div>
    </main>
{% endblock %}