/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif, "Garamond", "Georgia", "Times New Roman", serif;
}
.text-justify{
  text-align: justify;
}
/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #993333;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Beige color for header and body inspired by Goodreads */
body {
/*    background-color: rgba(244,241,234,0.5);*/
background-color: white;
    margin: 0;
    font-family:  'Poppins', sans-serif, "Garamond", "Georgia", "Times New Roman", serif;
    font-size: 14px;
    color: #191970;
}
main{
  width: 100% !important;
  margin: 0 !important;
}


/* Equal sizing of book covers for aesthetics */
.cover {
    width: 100px;
    margin: 0;
    float: none;
}

/* Beige color for header and body inspired by Goodreads */
.siteHeader {
    background-color: rgba(244,241,234, 1);
    top: 0px;
    width: 100%;
    z-index: 70;
}

/* SEARCH BAR */

/* Style the input container */
.topnav .search-container {
    margin-left: 90px;
    text-align: center;
    width: 55%;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
    width: 90.5%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
    width: 4%;
    padding: 6px;
    margin-top: 8px;
    margin-right: 30px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Make the button go dark when hovered over */
.topnav .search-container button:hover {
    background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .full-content {
  padding-top: 60px;
}

  /* Adds spacing around paragraphs for an easier read */
.para-spacing
{
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 20px
}

.center
{
  text-align: center;
}

h5 {
  text-align: left;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: rgba(244,241,234,0.5);
  position: fixed;
  height: 95%;
  overflow: auto;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

/* Active/current link */
.sidebar a.active {
/*  background-color: #dfbf9f;*/
  color: #993333;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #993333;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}


/* CSS for the rating stars */
.rating .star i {
    font-size: 1.2em;
    cursor: pointer;
    color: black; /* Default color for unfilled stars */
}


.filled {
        color: gold !important; /* Change this to any color you want for the filled stars */
    }
.review-title{
text-align:left;
}
    #comments {
        margin-top: 20px;
    }

    .comment-list {
        list-style: none !important;
        padding: 0;
    }

/* Style section titles */
.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #993333;
}

/* Style the team section */
.team {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.team h2 {
  color: #333;
}

/* Style the about me text */
.team p {
  color: #555;
}

/* Style the services section */
.services {
  background-color: #fff;
  border-radius: 10px;
/*  padding: 30px;*/
}

/* Style the service boxes */
.icon-box {
  margin: 10px 0;
  text-align: center;
}

.icon-box i {
  font-size: 48px;
  color: #333;
}

.icon-box h4 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.icon-box p {
  color: #555;
}

/* Style the links */
a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  color: #0056b3;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .col-lg-6 {
    width: 100%;
  }
}
.myphoto{
width:55%;
border-radius: 15px;
}
.mygraph{
  background-color: rgba(255, 245, 241   , 1);
  border-radius: 15px;
  border: 1px solid rgba(255, 218, 205   , 1);
}
.blackfont{
  color:darkgray;
}
.bigfont{
  font-size: 17px;
}
.mytable{
  background-color: #F9F0EE;
}

.table-data {
    font-size:14px;
    color: black;
}
.thead-dark{
  background-color: #993333;
  color: white;
}

        /* Custom CSS for striped rows */
        .mytable tbody tr:nth-child(odd) {
            background-color: #FFEFEC; /* Set your desired background color */
        }

        .mytable tbody tr:nth-child(even) {
            background-color: #FCF6F4; /* Set your desired background color for even rows */
        }

        .mytable tbody tr:hover {
            background-color:#FEE0D8; /* Background color on hover */
            transition: background-color 0.3s; /* Transition duration */
            scale: 1.03;
        }

                .mytable thead th {
            border-bottom: 2px solid #FF8C6D; /* Set your desired border color */
        }

        .btn-outline-primary{
          border: 1px solid #993333;
        }
                .btn-outline-primary:hover{
          border: 1px solid #993333;
          background-color: #993333;

        }
        .mytable thead tr th {
            border-right: 1px solid lightgray; /* Set your desired vertical line color and width */
        }
        .mytable tbody tr td {
            border-right: 1px solid white; /* Set your desired vertical line color and width */
        }
.mywidth{
  width: 12%;
}
#reviewChart {
  width:230px !important;
  height: 230px !important;
}
/*#loginChart{
   width: 340px !important;
  height: 300px !important; 
}*/
table{
  border-radius: 5px;
} 
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #FEF5F0;
}
.about p{
  font-size: 15px;
}
.services p{
  font-size: 15px;
}
.about{
  color:#555;
}
.about i{
  color:#993333;
}
.about h3 {
  font-weight: 400;
  font-size: 26px;
  color:#993333;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 22px;
  padding-right: 4px;
  line-height: 0;
}

.about p:last-child {
  margin-bottom: 0;
}

.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.services .icon i {
  color: #993333;
  font-size: 42px;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.services .title a {
  color: #993333;
  transition: 0.3s;
}

.services .icon-box:hover .title a {
  color: #993333;
}
.services p{
  font-size: 15px;
  color:#555;;
}
.services .description {
  line-height: 24px;
  font-size: 14px;
}
.contact p{
  color:#555;;
  font-size: 15px;
}
.redcolor{
  color: #993333;
}
