{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <main >
          <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
          <h2>About Me</h2>
        </div>

<div class="row">
  <div class="col-lg-6 order-1 order-lg-2">
    <div class="d-flex justify-content-center align-items-center" data-aos="fade-left" data-aos-duration="1000">
      <img src="../static/person.jpg" class="img-fluid myphoto" alt="">
    </div>
  </div>
  <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-duration="1000">
    <h3>Hello, my name is Scott Kim</h3>
    <p class="fst-italic">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
    <ul>
      <li><i class="fa-regular fa-circle-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li><i class="fa-regular fa-circle-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
      <li><i class="fa-regular fa-circle-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
    </ul>
    <p>
      Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum
    </p>
  </div>
</div>


      </div>
    </section>
     <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
          <h2 data-aos="fade-up" data-aos-duration="1000">Services</h2>

        </div>
          <p class="text-center"data-aos="fade-up" data-aos-duration="1000">Lionbooks is a social library website.</p>
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="fa-solid fa-book"></i></div>
            <h4 class="title"><a href="">Sharing Books</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="fa-solid fa-magnifying-glass-chart"></i></div>
            <h4 class="title"><a href="">Data Science Algorithms</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="fa-solid fa-users"></i></div>
            <h4 class="title"><a href="">Socializing</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>

      </div>
    </section>

        <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up" data-aos-duration="1000">Contact Us</h2>

        </div>
          <p class="text-center" data-aos="fade-up" data-aos-duration="1000"><strong>Email</strong>: hanah1@lionbooks.com</p>

      </div>
    </section>
    </main>

<script>
    // JavaScript to handle the rating functionality
    const ratingContainers = document.querySelectorAll('.rating');
    var bookIsbn ="";
    var rating = 5;
    ratingContainers.forEach(container => {
        const stars = container.querySelectorAll('.star');

        stars.forEach(star => {
            star.addEventListener('click', () => {
                rating = star.getAttribute('data-rating');
                bookIsbn = container.getAttribute('data-book-isbn');
                updateStarRating(container, rating,bookIsbn);
                alert(`You rated the book with ISBN ${bookIsbn} ${rating} stars.`);
            });
        });
    });


function updateStarRating(container, rating,bookIsbn) {
    const stars = container.querySelectorAll('.star');
    stars.forEach(star => {
        const starRating = star.getAttribute('data-rating');
        if (starRating <= rating) {
            // Change the icon to a filled star
            star.innerHTML = '<i class="fa-solid fa-star filled"></i>';
        } else {
            // Revert to the empty star icon
            star.innerHTML = '<i class="fa-regular fa-star"></i>';
        }
    });

    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/rate_book', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    const user_id = "{{ session['user_id'] }}";
    var isbn = bookIsbn
    var username = user_id
    xhr.send(JSON.stringify({ isbn,  username, rating }));
}

</script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}
