{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <main >
          <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
          <h2>About Me</h2>
        </div>

<div class="row">
  <div class="col-lg-6 order-1 order-lg-2">
    <div class="d-flex justify-content-center align-items-center" data-aos="fade-left" data-aos-duration="1000">
      <img src="../static/myphoto.png" class="img-fluid myphoto" alt="">
    </div>
  </div>
  <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-duration="1000">
    <h3>Hi, I’m Sunghyun Hannah Park</h3>
    <p>
      I’m from South Korea and currently live in New Hampshire as a high school senior. From childhood, I’ve felt connected to the natural world, mending butterfly wings and insect legs with homemade splints and bandaids. Today, I seek to use my actions and voice to give back to the earth through stewardship, advocacy, and exploring innovative solutions.
</p>
<p>I first fell in love with books after reading <span  class="fst-italic">The Call of the Wild</span> in elementary school. Since then, I’ve evolved as a lover, writer, and teller of stories, and am exploring the world of nature literature. Cherishing both school and online friends who share my compassion for fictional and non-fictional worlds, I hope to share the joy that comes from connecting with others through books (and make them more accessible for high school communities) through <span class="fst-italic">Lionbooks</span>.</p>
    </p>

  </div>
</div>


      </div>
    </section>
     <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
          <h2 data-aos="fade-up" data-aos-duration="1000">Services</h2>

        </div>
          <p class="text-center"data-aos="fade-up" data-aos-duration="1000"><span class="fst-italic">Lionbooks</span> is a social, online library platform for book lovers in high school communities.</p>
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="fa-solid fa-book"></i></div>
            <h4 class="title"><a href="">Sharing Books</a></h4>
            <p class="description">Requesting to borrow books is as easy as clicking a button! <span class="fst-italic">Lionbooks</span> acts as an online library, facilitating contact with peers who own a book that users would like to read.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="fa-solid fa-magnifying-glass-chart"></i></div>
            <h4 class="title"><a href="">Data Science Algorithms</a></h4>
            <p class="description">Applying two different recommendation features based on the Data Science and Machine Learning Algorithm: content-based filtering and sentiment analysis. <span class="fst-italic">Lionbooks</span> recommends books by analyzing user preferences and the sentiments expressed in book review comments.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="fa-solid fa-users"></i></div>
            <h4 class="title"><a href="">Socializing</a></h4>
            <p class="description">Users can write in discussion boards and post comments on specific books, providing further connection with peers over your favorite reads! Comments can also act as reviews, offering helpful information for peers in the same community.</p>
          </div>
        </div>

      </div>
    </section>

        <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up" data-aos-duration="1000">Contact Us</h2>

        </div>
          <p class="text-center" data-aos="fade-up" data-aos-duration="1000"><strong>Email</strong>: hanah1@lionbooks.com</p>

      </div>
    </section>
    </main>

<script>
    // JavaScript to handle the rating functionality
    const ratingContainers = document.querySelectorAll('.rating');
    var bookIsbn ="";
    var rating = 5;
    ratingContainers.forEach(container => {
        const stars = container.querySelectorAll('.star');

        stars.forEach(star => {
            star.addEventListener('click', () => {
                rating = star.getAttribute('data-rating');
                bookIsbn = container.getAttribute('data-book-isbn');
                updateStarRating(container, rating,bookIsbn);
                alert(`You rated the book with ISBN ${bookIsbn} ${rating} stars.`);
            });
        });
    });


function updateStarRating(container, rating,bookIsbn) {
    const stars = container.querySelectorAll('.star');
    stars.forEach(star => {
        const starRating = star.getAttribute('data-rating');
        if (starRating <= rating) {
            // Change the icon to a filled star
            star.innerHTML = '<i class="fa-solid fa-star filled"></i>';
        } else {
            // Revert to the empty star icon
            star.innerHTML = '<i class="fa-regular fa-star"></i>';
        }
    });

    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/rate_book', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    const user_id = "{{ session['user_id'] }}";
    var isbn = bookIsbn
    var username = user_id
    xhr.send(JSON.stringify({ isbn,  username, rating }));
}

</script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}
