{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h3 class="center">Welcome Back!</h3>
    <form action="/login" method="post">
        <div class="center">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>

<div class="container login-intro mt-5">

            <div class="section-title"data-aos="fade-up" data-aos-duration="1000">
          <h2>Objective</h2>
        </div>
    <p class="text-center"data-aos="fade-down" data-aos-duration="1000">
        LionBooks is an online library platform that enables users to easily borrow books from peers. It incorporates data science algorithms, such as content-based filtering and sentiment analysis, to recommend books based on user preferences and review sentiments. Additionally, the platform encourages social interaction through discussion boards and comments on books, fostering a community of readers to connect and share their thoughts and recommendations.
</p>

                <div class="section-title mt-5"data-aos="fade-up" data-aos-duration="1000">
          <h2>Features</h2>
        </div>
    <p class="text-center"data-aos="fade-down" data-aos-duration="1000">
LionBooks uses advanced data science and machine learning techniques like content-based filtering and sentiment analysis for book recommendations. Content-based filtering looks at book attributes and user preferences to suggest similar books. Meanwhile, sentiment analysis understands emotions in user reviews to recommend books that match both reading tastes and emotional preferences. This way, LionBooks provides personalized book suggestions based on both content similarity and emotional resonance.
</p>

                    <div class="section-title mt-5"data-aos="fade-up" data-aos-duration="1000">
          <h2>Demo</h2>
        </div>
        <div class="row mt-5 mb-4">
            <div class="col-md-6 text-center"data-aos="fade-right" data-aos-duration="1000">
<img class="img-fluid loginimg mx-auto" src="../static/about1.png">
            </div>
<div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-duration="1000">
    <div>
        <h4>1. Creating Your Reading Wishlist</h4>
        <p>
            Users can search for books using their ISBN and add them to one of three lists: currently reading, want to read, or already read. On the search page, users can also leave short comments about the book.
        </p>
    </div>
</div>

        </div>

                <div class="row mt-5 mb-4">
            <div class="col-md-6 text-center"data-aos="fade-right" data-aos-duration="1000">
<img class="img-fluid loginimg mx-auto" src="../static/about2.png">

            </div>
            <div class="col-md-6 d-flex align-items-center"data-aos="fade-left" data-aos-duration="1000">
                      <div>
                       <h4>2. Browsing Books and Sharing Reviews</h4>

                <p>
From the search page, users can view the author, ISBN, and title of the books they've added. Clicking on "details" provides users with comprehensive information about the selected book, offering deeper insights into its contents and additional details.
</p>
                          </div>
            </div>
        </div>

                <div class="row mt-5 mb-4">
            <div class="col-md-6 text-center"data-aos="fade-right" data-aos-duration="1000">
<img class="img-fluid loginimg mx-auto" src="../static/about3.png">

            </div>
            <div class="col-md-6 d-flex align-items-center"data-aos="fade-left" data-aos-duration="1000">
                      <div>
                                       <h4>3. Customized Suggestions Matching Your Preferences</h4>

                <p>
The library page allows users to browse books that are available for borrowing from other users. These book suggestions are generated using the content-based filtering algorithm, which recommends books based on their similarity to the user's preferences. Furthermore, users are empowered to rate each book, providing an opportunity to share their feedback and personal experiences with the community.
</p>
                          </div>
            </div>
        </div>

                <div class="row mt-5 mb-4">
            <div class="col-md-6 text-center"data-aos="fade-right" data-aos-duration="1000">
<img class="img-fluid loginimg mx-auto" src="../static/about4.png">

            </div>
            <div class="col-md-6 d-flex align-items-center"data-aos="fade-left" data-aos-duration="1000">
                                   <div>

                                                       <h4>4. Personalized Recommendations from Sentiments</h4>

                <p>
The content-based filtering algorithm generates recommendations from collected user ratings. Secondly, an added tier of recommendation system runs on sentiment analysis of book comments. This method suggests books with more positive reviews, allowing users to discover highly-rated titles.
</p>
                                       </div>
            </div>
        </div>

                <div class="row mt-5">
            <div class="col-md-6 text-center"data-aos="fade-right" data-aos-duration="1000">
<img class="img-fluid loginimg mx-auto" src="../static/about5.png">

            </div>
            <div class="col-md-6 d-flex align-items-center"data-aos="fade-left" data-aos-duration="1000">
                                     <div>
                                                                     <h4>5. Tracking Your Progress and Activities</h4>

                <p>
The user profile page displays the user's historical records, showcasing the number of books read per year and month. It also presents sentiment data derived from the user's comments, reflecting the emotional tone of their contributions. Additionally, the page tracks the frequency of user logins on a monthly basis.
</p>
                                         </div>
            </div>
        </div>

    </div>

</script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}
